EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bm90ZWQtcGVhY29jay03My5jbGVyay5hY2NvdW50cy5kZXYk
EXPO_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_quMifAQ8PGZs5JAUbFiJoTwDx2DxZbfvaY5c6xswrBsQ
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
